<div class="main">
  <%= render 'shared/header' %>
  <div class="main-top">
    <div class="main-top-up">
      <ul class="slider">
        <li><%= image_tag "kamo.JPG" %></li>
        <li><%= image_tag "kamo_2.JPG" %></li>
        <li><%= image_tag "bald_eagle.JPG" %></li>
        <li><%= image_tag "momizi.JPG" %></li>
        <li><%= image_tag "momizi_2.JPG" %></li>
        <li><%= image_tag "moon.JPG" %></li>
      </ul>
    </div>
    <div class="main-bottom">
      <h1 class="main-bottom-title">タグ検索</h1>
      <ul class="main-bottom-unordered-list">
        <li class="main-bottom-list">動物</li>
        <li class="main-bottom-list">景色</li>
        <li class="main-bottom-list">自然</li>
        <li class="main-bottom-list">イラスト</li>
        <li class="main-bottom-list">アニメ</li>
        <li class="main-bottom-list">春</li>
        <li class="main-bottom-list">夏</li>
        <li class="main-bottom-list">秋</li>
        <li class="main-bottom-list">冬</li>
        <li class="main-bottom-list">海</li>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-1-6/js/6-1-6.js"></script>